body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wrapper {
  width: 2000px;
  height: 100px;
  outline: 1px solid #000;
  margin: 20px;
  display: flex;
  background-color: burlywood;
  margin-bottom: 2px;
}

.fig{
  text-align: center;
  outline: 2px solid #000;
  width: 360px;
}
.canv{
  text-align: center;
  width: 1500px;
}
.content{
  display: flex;
  width: 2000px;
  height: 1000px;
  outline: 2px solid #000;
  margin-left: 20px;
  
}
.circle {
  background: url('circle.png') no-repeat center;
  width: 362px;
  height: 200px;      
}
.rect {
  background: url('rect.png') no-repeat center;
  width: 362px;
  height: 200px;      
}






